@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: 255 255 255;
  --color-border: 255 255 255;
  --color-box: 255 255 255;
  --box-border: 229 231 235;
  --box-sd: 226 232 240 / 0.5;
  --heading-1: 23 37 84;
  --heading-2: 31 41 55;
  --heading-3: 55 65 81;

  --header-position: sticky;
  --content-offset: 116px;
  --header-height: 180px;
  --header-mb: -116px;
  --header-top: 0px;
  --avatar-top: 0px;
  --avatar-image-transform: translate3d(0rem, 0, 0) scale(1);
  --avatar-border-transform: translate3d(-0.2222222222222222rem, 0, 0) scale(1.7777777777777777);
  --avatar-border-opacity: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}
